html {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    width: 50%;
    max-width: 520px;
    min-width: 480px;
    margin: 0 auto;
  }

  .container{
    text-align:  center;
    padding: 0px 25px 25px 25px ;
    background: linear-gradient(#e5f747, #6bf143);
    border-style: solid;
  }

  #generate{
      margin-top: 10px;
  }