
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}


.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    text-align:  center;
    padding: 0px 25px 25px 25px ;
    background: linear-gradient(#e5f747, #6bf143);
    border-style: solid;
    width: 50%;
    max-width: 520px;
    min-width: 480px;

    &__title {
        color: grey;
    }
}


.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__label {
        font-size: medium;
    }

    &__input {
        border: 2px solid #b9aafc;
        width: 160px;
        &:focus{
            outline: 2px solid #118821
        }
        &_border{
            border-color: #fcb3ec;
        }
    }

    &__generate {
        margin-top: 10px;
        text-transform: uppercase;

        &_disabled {
            background: rgb(199, 195, 195);
        }
    }
}

.result {
    &__title {
        font-size: medium;
    }
    &__value {
        font-size: large;
    }
    &__reset {
        font-size: medium;
    }
}

.button {
    padding: 5px 10px;
    &:hover{
        box-shadow: 7px 5px 20px #1bad27
    }
}

